 
.temp3-name{
    padding: 15px;
    padding-bottom: 5px;
    text-align: center;
}
.temp3-name h2{
    color: grey;
    font-weight: 600;
}
.temp3-contact ul{
    list-style: none;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
    margin: 0;
    /* row-gap: 5px; */
}
.temp3-contact li{
    font-size: 14px;
    /* margin-left: 12px; */
   
}
.temp3-main-content{
    padding: 15px;
    /* margin-top: 15px; */
    text-align: left;
}
.template3 h3{
    padding: 2px;
    margin-top: 15px;
    font-size:18px ;
    background-color: rgba(209, 209, 209, 0.811);
}
.temp3-skills{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 800px), print and (max-width: 800px){
    .temp3-name{
        padding: 5px;
        padding-bottom: 2px;
        text-align: center;
    }
    .temp3-contact li{
        font-size: 0.8vw;
        /* margin-left: 12px; */
       
    }
    .template3 h3{
        padding: 1px;
        margin-top: 0.4vw;
        font-size: 1vw;
       
    }
    .temp3-main-content{
        padding: 5px;
        /* margin-top: 15px; */
        text-align: left;
    }
    .temp3-skills li{
        line-height: 1.2vw;
    }
}
