.a4size{
  width: 210mm;
  height: 297mm;
  background-color: white;
  margin: 0; /* Remove any extra margins */
  box-shadow: none; /* Remove shadow for print */
  --background: rgba(1, 45, 58, 0.925);

}

  .a4size{
    width: 210mm;
    height: 297mm;
    background-color: white;
    margin: 0; /* Remove any extra margins */
    box-shadow: none; /* Remove shadow for print */
    --background: rgba(1, 45, 58, 0.925);
  
  }
.template1{
  display: flex;
  
}
 .t1left-content{
    height: 297mm;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    background-color: var(--background);
    color: white;
    width: 37%;
    padding:2%;
  }
 
  .t1right-content{
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 63%;
    row-gap: 20px;

  }
  .temp1-name{
    text-align: center;
    height: 35mm;
    background-color: rgba(239, 239, 239, 0.652);
    padding: 25px;
  }
 
  .template-project-tech{
    font-size: 18px;
    font-weight: 600;
  }
  .a4size h3{
    font-size: 25px;
    font-weight: 600;
  }
  .a4size ul{
    margin-top: 10px;
    list-style: none;
  }
  .a4size li{
    line-height: 25px;
    font-size: 14px;
  }
  .a4size h2{
    
    font-weight: 400;
  }
  .a4size p{
    font-size: 14px;
  }
  .a4size h4{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  .a4size h5{
    font-size: 16px;
    font-weight: 600;
  }
  @media screen and (max-width: 800px), print and (max-width: 800px) {
    .a4size{
      width: 50vw;
      height:70vw ;
      background-color: white;
      margin: 0 auto; /* Remove any extra margins */
      box-shadow: none; /* Remove shadow for print */
      --background: rgba(1, 45, 58, 0.925);
    
    }
    .contact{
      margin-top: 1vw;
    }
    .contact li{
      margin-top: 1vw;
    }
    .t1left-content{
      height: 100%;
      row-gap: 15px;
      background-color: var(--background);
      color: white;
      width: 37%;
      padding:2%;
    }

    .t1right-content{
      display: flex;
      flex-direction: column;
      padding: 2%;
      width: 63%;
      row-gap: 1.5vw;
  
    }
    .template-project-tech{
      font-size: 18px;
      font-weight: 600;
    }
    .temp1-name{
      text-align: center;
      height: 8vw;
      background-color: rgba(239, 239, 239, 0.652);
      padding: 2vw;
    }
      
    .a4size h3{
      font-size: 1.4vw;
      font-weight: 600;
    }
    .a4size ul{
      margin-top: 1.25vw;
      list-style: none;
    }
    .a4size li{
      line-height: 0.7vw;
      font-size: 0.9vw;
    }
    .a4size p{
      font-size: 0.8vw;
    }
 
    .a4size h1{
      font-size: 2vw;
    }
    .a4size h2{
      font-size: 1.5vw;
    }
    .a4size h4{
      margin-top: 2px;
      font-size: 1vw;
    }
    .a4size h5{
      font-size: 0.9vw;
    }
  
    


 

  }

  



