.template6{
    --color:rgba(211, 94, 27, 0.893);
    display: flex;
    
    }
  
    .temp6-left{
        height: 297mm;
        width: 32%;
        background-color: rgba(235, 229, 229, 0.86);
        padding: 0 10px;

    }
    .temp6-left img{
        display: block;
        margin:5px 35px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid black;
        
    }
    .temp6-contact li{
        font-size: 12px;
    }
    .template6 h3{
        color: var(--color);
        font-size: 25px;
        font-weight: 600;
        margin-top: 20px;
        
     }
     .temp6-right{
        padding: 0 10px;
        margin-left: 10px;
     }
     

     .template6 h2{
        color: var(--color);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        
        
     }
     @media screen and (max-width: 800px), print and (max-width: 800px) {
        .a4size{
            width: 50vw;
            height:70vw ;
            background-color: white;
            margin: 0 auto; /* Remove any extra margins */
            box-shadow: none; /* Remove shadow for print */
            --background: rgba(1, 45, 58, 0.925);
          
          }
           
    .temp6-left{
        height:70vw ;
        padding: 0 5px;

    }
        
        .temp6-left img{
            margin:1vw 2vw;
            padding: 0px 0px;
            height: 8vw;
            border-radius: 50%;
            border: 1px solid black;
            
        }
        .template6 h3{
            color: var(--color);
            font-size: 1.4vw;
            font-weight: 600;
            margin-top: 5px;
            
         }
         .temp6-contact li{
         
            font-size: 0.4vw;
        }
        
     .template6 h2{
        font-size: 1.5vw;
        font-weight: 600;
        margin-bottom: 2px;
        
        
     }
     .temp6-right{
        padding: 0 2px;
        margin-left: 2px;
     }
     .template6 ul{
        margin-top: 0.5vw;
        list-style: none;
      }
      .template6 li{
        line-height: 1.2vw;
        font-size: 0.9vw;
      }
      .temp6-contact li{
         
        font-size: 0.7vw;
    }
    

     }

 

   
    
   
  
  